@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == bigtablet {    
        @media only screen and (max-width: 1024px) {
          @content;
        }
      }

    @if $breakpoint == tablet {    
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

.review{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);
    padding-bottom: 2rem;
    .user-profile-pic{
        flex: 1;
        img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
        }

        @include devices (tablet){
            flex: 2;
        }
    }
    .user-info {
        flex: 12;
        display: grid;
        row-gap: 0.5rem;

        // info details
        .user-info-details{
            .wrapper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 0.5rem;
                img {
                    width: 1.8em;
                }
                span {
                    color: hsl(0, 0%, 40%);
                }
            }
        }
        // stars
        .stars {
            display: flex;
            align-items: center;
            column-gap: 0.3rem;
            
            img {
                width: 1rem;
            }
        }
        // reviews text
        .reviews-text {
            margin-top: 0.8rem;
            color: hsl(0, 0%, 20%);
            font-size: 1.1rem;

            @include devices (tablet){
                font-size: 0.95rem;
            }
        }

        // helpful
        .helpful{
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            margin-top: 1rem;

            h5{
                font-size: 1rem;
                color: hsl(0, 0%, 30%);
            }

            img {
                width: 1rem;
                cursor: pointer;
            }
        }

        @include devices (mobile){
            flex: 10;
        }
    }
}