@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
 
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1028px) {
      @content;
    }
  }
}

.hero-wrapper{
    height : 680px;
    position: relative;

    .hero-backgrounds {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        div{
            @include devices (desktop) {
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center 30%;
                background-size: cover;
                object-fit: cover;
            }
        }
        .hero-img1{
            @include devices (desktop){
                background-image: url('fiverr-img/moon.jpg');
                animation: fade1 25s infinite;
            }
        }
        .hero-img2{
            @include devices (desktop){
                background-image: url('fiverr-img/zach.jpg');
                animation: fade2 25s infinite;
            }
        }
        .hero-img3{
            @include devices (desktop){
                background-image: url('fiverr-img/andrea.jpg');
                animation: fade3 25s infinite;
            }
        }
        .hero-img4{
            @include devices (desktop){
                background-image: url('fiverr-img/garbrielle.jpg');
                animation: fade4 25s infinite;
            }
        }
        .hero-img5{
            @include devices (desktop){
                background-image: url('fiverr-img/ai-artist.jpg');
                animation: fade5 25s infinite;
            }
        }

        // animation
        @keyframes fade1{0%{opacity:1}25% {opacity: 0}50% {opacity: 0}75% {opacity: 0}100% {opacity: 1}}
        @keyframes fade2{0%{opacity:0}25% {opacity: 1}50% {opacity: 0}75% {opacity: 0}100% {opacity: 0}}
		@keyframes fade3{0%{opacity:0}25% {opacity: 0}50% {opacity: 1}75% {opacity: 0}100% {opacity: 0}}
        @keyframes fade4{0%{opacity:0}25% {opacity: 0}50% {opacity: 0}75% {opacity: 1}100% {opacity: 0}}
        @keyframes fade5{0%{opacity:0}25% {opacity: 0}50% {opacity: 0}75% {opacity: 0}100% {opacity: 1}}

    }
    
    .hero-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-96%, -50%);
        width: 50%;

        display: flex;

        .header h1{
            color: white;
            font-size: 48px;
            line-height: 56px;

            i{
                font-weight: 400;
                font-family: 'PT Serif', serif;
            }
        }
    }

}