@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    // background-color: hsl(147, 97%, 13%);
    background: transparent;
    color: hsl(0, 0%, 100%);

    // subnav-1
    .subnav-1{
        width: 95%;
        max-width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        // logo
        .logo{
            cursor: pointer;

            .fiverr-logo{
                font-size: 2.2rem;
                position: relative;
                font-weight: 800;
                letter-spacing: -1px;
                color: white;
    
                &:after {
                    content: "";
                    display: block;
                    background: hsl(152, 74%, 37%);
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    right: -7px;
                    bottom: 12.9px;
                }
            }
    
        }

        // links
        .links{
            display: flex;
            align-items: center;
            column-gap: 1.5rem;

            span {
                font-weight : 600;
                cursor: pointer;

                .fiverr-business{
                    color: white;
                }
            }

            @include devices (tablet){
                display: none;
            }
        }

        // user avatar
        .user{
            display: flex;
            align-items: center;
            column-gap: 1em;

            .user-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 0.2em;
                position: relative;
                cursor: pointer;
    
                .avatar{
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;
                }
                .username{
                    font-size: 0.8rem;
                }
                .options{
                    position: absolute;
                    top: 3.5em; right: 1em;
                    background: white;
                    color: black;
                    display: grid;
                    border-radius: 5px;
                    width: 10em;
                    border: 1px solid gray;
                    z-index: 2;
    
                    .option-links{
                        padding: 0.4em;
                        cursor: pointer;
                    }
                }
            }

            .hamburger-menu{
                font-size: 1.8rem;
                display: none;
                color: hsl(0, 0%, 40%);
                font-weight: 700;
                z-index: 100;
                cursor: pointer;
                padding-right: 0.3em;
    
                @include devices(tablet){
                    display: block;
                }
            }
        }


        // nav login
        .nav-login{
            display: flex;
            align-items: center;
            column-gap: 0.8rem;

            span {
                font-weight: 600;
                cursor: pointer;

                .link{
                    color: white;
                }

                .join-btn{
                    background: none;
                    border: 1px solid white;
                    cursor: pointer;   
                    padding: 0.63em 1.2em;
                    color: hwb(0 100% 0%);        
                    border-radius: 3px;    
                    font-weight: 600;    
                    transition: all 0.2s ease-in-out;
                    
                    &:hover{
                        background-color: hsl(152, 74%, 37%);
                        border: 1px solid transparent;
                    }
                }
            }
            .hamburger-menu{
                font-size: 1.8rem;
                display: none;
                color: hsl(0, 0%, 40%);
                font-weight: 700;
                z-index: 100;
                cursor: pointer;
                padding-right: 0.3em;
    
                @include devices(tablet){
                    display: block;
                }
            }

            @include devices (tablet){
                column-gap: 1.5rem;
            }
        }

    }
    
    // line break
    .line-break{
        width: 100%;
        height: 0;
        border-bottom: 0.2px solid #c5c6c9;

        @include devices (tablet){
            display: none;
        }
    }

    // subnav-2
    .subnav-2{
        width: 95%;
        max-width: 95%;
        display: none;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 0.55rem 0;
        text-align: left;

        .link{
            font-size: 1rem;
            font-weight: 450;
            cursor: pointer;
        }

        @include devices (tablet){
            display: none;
        }
    }


    // mobile nav
    .mobile-nav{
        display: none;

        @include devices(tablet){
            display: block;
            z-index: 10;

            background: hsl(0, 0%, 100%);
            color: black;
            position: fixed;
            top : 0; bottom: 0; right: 0;
            width: 50%;
            transform: translateX(0%);
            overflow-y: scroll;
            box-shadow: -2px 0px 2px -1px rgba(0, 0, 0, 0.5);
            padding: 1.5rem 1.4rem;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1.5rem;

            // Join btn mobile nav
            .join-fiverr , .logout-fiverr{
                background-color: hsl(152, 74%, 37%);
                cursor: pointer;   
                border: none;
                padding: 0.73em 1.5em;
                color: hsl(0, 0%, 100%);        
                border-radius: 3px;    
                font-weight: 600;    
                font-size: 1rem;
                transition: all 0.2s ease-in-out;
                
                &:hover{
                    background-color: hsl(152, 74%, 27%);
                }
            }

            // category
            .category-container{
                color: hsl(0, 0%, 50%) ;
                display: grid;
                row-gap: 0.45em;
                
                .drop-down{
                    position: relative;

                    .browse-categories{
                        position: relative;
                        display: flex;
                        align-items: center;
                        column-gap: 0.87rem;
                        font-size: 1rem;
                        padding-right : 0.2em;
                        cursor: pointer;
                    }

                    .dropdown-content{
                            display: grid;
                            row-gap: 0.5rem;
                            opacity: 0;
                            display: none;
                            transition: all 0.3s ease-in-out;
                            z-index: 1;

                            li{
                                cursor: pointer;
                                padding: 0.3em 1em;
                                font-size: 1rem;
                            }
                    }
                    .active{
                        display: block;
                        opacity: 1;
                    }
                }

                h4{
                    font-size: 1rem;
                    cursor: pointer;

                    a{
                     color :   hsl(0, 0%, 50%) ;
                    }
                }
            }

            // general container
            .general-container{

                h3{
                    font-size: 1.3rem;
                    margin-bottom: 0.6rem;
                }

                .general-links{
                    color: hsl(0, 0%, 50%);
                    display: grid;
                    row-gap: 0.45em;

                    h4{
                        cursor: pointer;

                        a{
                            color: hsl(0, 0%, 50%);
                        }
                    }
                }
            }
        }
    }
}

// add this class from react to toggle
.nav-open{
    .subnav-1{
        .nav-login{
            .hamburger-menu{
                @include devices (tablet){
                    display: block;
                    color: white;
                }
            }
        }
    }
    .mobile-nav {
        transform: translateX(100%);
    }
}
#active{
    background: white;
    color: black;
    box-shadow: 0px 2px 3px 0px hsl(0, 0%, 0%, 0.3);
    position: sticky;

    .subnav-1{

        .fiverr-logo{
            color: black;
        }
        .nav-login{
            .link{
                color: black;
            }
            .join-btn {
                background: hsl(152, 74%, 37%);
                &:hover{
                    background: hsl(152, 74%, 27%);
                }
            }
        }
        .fiverr-business{
            color: hsl(152, 74%, 37%);
        }

        .hamburger-menu{
            color: hsl(0, 0%, 40%);
        }
    }

    .subnav-2{
        display: flex;

        @include devices (tablet) {
            display: none;
        }
    }
}